@font-face {
    font-family:"google";
    src: url(../fonts/SF-Pro-Text-Heavy.otf);
}

@font-face {
    font-family:"SFProDisplayRegular";
    src: url(../fonts/SFProDisplay-Regular.ttf);
}

@font-face {
    font-family:"SFProDisplaySemibold";
    src: url(../fonts/SFProDisplay-Semibold.ttf);
}

@font-face {
    font-family:"uni-sans-heavy-caps";
    src: url(../fonts/uni-sans-heavy-caps.otf);
}

@font-face {
    font-family:"howvetica";
    src: url(../fonts/Howvetica-Aayp.ttf);
}

@font-face {
    font-family:"bazooka";
    src: url(../fonts/Bazooka.woff);
}
