@font-face {
    font-family:"google";
    src: url(../fonts/google.woff2);
}

@font-face {
    font-family:"SFProDisplayRegular";
    src: url(../fonts/SFProDisplay-Regular.ttf);
}

@font-face {
    font-family:"SFProDisplaySemibold";
    src: url(../fonts/SFProDisplay-Semibold.ttf);
}

@font-face {
    font-family:"uni-sans-heavy-caps";
    src: url(../fonts/uni-sans-heavy-caps.otf);
}

@font-face {
    font-family:"howvetica";
    src: url(../fonts/Howvetica-Aayp.ttf);
}

@font-face {
    font-family:"specify-black";
    src: url(../fonts/specify-black.ttf)
}

@font-face {
    font-family:"specify-normal-black";
    src: url(../fonts/Specify-Normal-Black.ttf);
}

@font-face {
    font-family:"specify-normal-bold";
    src: url(../fonts/Specify-Normal-Bold.ttf);
}

@font-face {
    font-family:"bazooka";
    src: url(../fonts/Bazooka.woff);
}

@font-face {
    font-family:"a";
    src: url(../fonts/a.woff);
}

@font-face {
    font-family:"b";
    src: url(../fonts/b.woff);
}

@font-face {
    font-family:"c";
    src: url(../fonts/c.woff);
}

@font-face {
    font-family:"d";
    src: url(../fonts/d.woff);
}



/* @font-face {
    font-family:"google";
    src: url(../../fonts/google.woff2);
}

@font-face {
    font-family:"SFProDisplayRegular";
    src: url(../../fonts/SFProDisplay-Regular.ttf);
}

@font-face {
    font-family:"SFProDisplaySemibold";
    src: url(../../fonts/SFProDisplay-Semibold.ttf);
}

@font-face {
    font-family:"uni-sans-heavy-caps";
    src: url(../../fonts/uni-sans-heavy-caps.otf);
}

@font-face {
    font-family:"howvetica";
    src: url(../../fonts/Howvetica-Aayp.ttf);
}

@font-face {
    font-family:"specify-black";
    src: url(../../fonts/specify-black.ttf)
}

@font-face {
    font-family:"specify-normal-black";
    src: url(../../fonts/Specify-Normal-Black.ttf);
}

@font-face {
    font-family:"specify-normal-bold";
    src: url(../../fonts/Specify-Normal-Bold.ttf);
}

@font-face {
    font-family:"bazooka";
    src: url(../../fonts/Bazooka.woff);
}

@font-face {
    font-family:"a";
    src: url(../../fonts/a.woff);
}

@font-face {
    font-family:"b";
    src: url(../../fonts/b.woff);
}

@font-face {
    font-family:"c";
    src: url(../../fonts/c.woff);
}

@font-face {
    font-family:"d";
    src: url(../../fonts/d.woff);
} */