/* ====== FONTS ====== */
@font-face {
    font-family: "Howvetica";
    src: url(font/Howvetica-Aayp.ttf);
}

@font-face {
    font-family: "SFPro-Regular";
    src: url(font/SFProDisplay-Regular.ttf);
}

@font-face {
    font-family: "SFPro-Semibold";
    src: url(font/SFProDisplay-Semibold.ttf);
}

@font-face {
    font-family: "uni-sans";
    src: url(font/uni-sans-heavy-caps.otf);
}

/* ============== */

html{
    -webkit-tap-highlight-color: transparent;
}

/* ============== */

.under-construction {
    height: calc(100vh - 60.8px);
    max-width: 1920px;
    margin: 50.8px auto 10px auto;
    display: grid;
    place-items: center;
    align-items: center;
}

.under-const-grid,
.under-const {
    display: grid;
    place-items: center;
    align-items: center;
}

.under-const-heading h1 {
    font-size: 3rem;
    font-family: "SFPro-Semibold";
    word-wrap: break-word;
}

.under-const-img img{
    max-width: 100%;
}