/* ====== FONTS ====== */
@font-face {
    font-family: "Howvetica";
    src: url(font/Howvetica-Aayp.ttf);
}

@font-face {
    font-family: "SFPro-Regular";
    src: url(font/SFProDisplay-Regular.ttf);
}

@font-face {
    font-family: "SFPro-Semibold";
    src: url(font/SFProDisplay-Semibold.ttf);
}

@font-face {
    font-family: "uni-sans";
    src: url(font/uni-sans-heavy-caps.otf);
}

/* ============== */

html {
    -webkit-tap-highlight-color: transparent;
}

/* ============== */

.under-construction {
    max-width: 1920px;
    margin: 50.8px auto 10px auto;
    display: grid;
    place-items: center;
    align-items: center;
}

.under-const-grid,
.under-const {
    display: grid;
    place-items: center;
    align-items: center;
}

.under-const-heading h1 {
    font-size: 3rem;
    font-family: "SFPro-Semibold";
    word-wrap: break-word;
}

.under-const-img img {
    max-width: 100%;
}

/* OR */
.awesome {
    max-width: 1920px;
    margin: 20px auto;
    text-align: center;
}

.awesome-not-complete p {
    padding: 10px 20px;
    font-family: "SFPro-Semibold";
    font-size: 22px;
    word-spacing: 2px;
}

.awesome-not-complete p a {
    text-decoration: none;
    color: #0066cc;
}

.awesome-not-complete p a:hover {
    text-decoration: underline;
}

/* enjoy */

.or {
    margin: 5px;
    padding: 5px;
}

.or-heading p {
    padding: 25px 25px 25px 25px;
    font-family: "SFPro-Semibold";
    font-size: 35px;
}

.or-img {
    padding: 15px 10px 40px 10px;
    max-width: 100%;
    margin: auto;
}

.or-img img {
    max-width: 100%;
    border-radius: 10px;
}

img.enjoy{
    max-width: 35%;
}

.or-video{
    padding: 20px;
    text-align: center;
}

.or-video video.lister-1{
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 8px 8px 20px #053b17;
}

@media only screen and (max-width:768px) {
    img.enjoy{
        max-width: 80%;
    }

    .or-video{
        padding: 10px;
        text-align: center;
    }
}

@media only screen and (min-width:800px) {

    .or-video{
        padding: 20px;
        text-align: center;
    }
    
    .or-video video.lister-1{
        max-width: 78%;
        border-radius: 10px;
        box-shadow: 8px 8px 20px #053b17;
    }

}
