/* body */

body{
    background-color: #CBF3F0;
    min-width: 300px;
}

/* ======================= For All ======================= */

* {
    padding: 0;
    margin: 0;
    font-family: "SF-text-regular" ;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* ======================= Header ======================= */

.hdr {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgb(43, 41, 41);
    z-index: 9;
    font-family: "SFPro-Regular" ;
    box-shadow: 0px 2px 10px black;
}

/* ======================= Nav Items ======================= */

.navigation-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "SFPro-Regular" ;
}

.nav-items {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    font-family: "SFPro-Regular";
}

.all-other-items {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "SFPro-Regular";
}

.list {
    margin: 7px 25px;
}

.main-item-a-svg {
    max-width: 33px;
    margin-top: 3px;
    max-height: 30px;
}

.main-item-a-svg g.sushant_anshika{
    fill: #ffffff;
}

.other-items a {
    color: rgb(218, 218, 218);
    text-decoration: none;
    font-size: 18px;
    font-family: "SFPro-Regular";
}

.other-items a:hover {
    color: rgb(255, 255, 255);
}

/* ======================= toggle button ======================= */

.toggle-btn {
    position: absolute;
    left: 15px;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 20px;
    height: 25px;
    cursor: pointer;
}

.toggle-btn-line {
    background-color: white;
    width: 100%;
    height: 1px;
}

.toggle-btn-line-1 {
    transform: translateY(-3px);
    transition: all 0.3s ease-in-out;
}

.toggle-btn-line-2 {
    transform: translateY(3px);
    transition: all 0.3s ease-in-out;
}

/* ======================= Animation ======================= */

.toggle-btn-line-1.sushantsejwal {
    transform: translateY(0.5px) rotate(45deg);
    transition: all 0.3s ease-in-out;
}

.toggle-btn-line-2.sushantsejwal {
    transform: translateY(-0.5px) rotate(-45deg);
    transition: all 0.3s ease-in-out;
}

/* ======================= media query ======================= */

@media only screen and (max-width:768px) {

    .toggle-btn {
        display: flex;
    }

    .all-other-items {
        display: flex;
        justify-content: start;
        flex-direction: column;
        transform: scale(1, 0);
        transition: all 0.4s ease-in-out;
        transform-origin: top;
        position: fixed;
        top: 40px;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgb(43, 41, 41);
        text-align: center;
        overflow-y: scroll;
    }

    .all-other-items.sushantsejwal {
        transform: scale(1, 1);
    }

    .other-items .link {
        transform: translateY(70px);
        display: block;
        font-size: 25px;
        letter-spacing: 1px;
        margin: 15px;
        text-transform: capitalize;
    }

    /* link opacity */

    .link_1 {
        opacity: 0;
        transition: opacity 0.2s ease-in-out;

    }

    .link_2 {
        opacity: 0;
        transition: opacity 0.15s ease-in-out;
    }

    .link_3 {
        opacity: 0;
        transition: opacity 0.12s ease-in-out;
    }

    .link_4 {
        opacity: 0;
        transition: opacity 0.1s ease-in-out;
    }

    /* ====== */

    .link_1.sushantsejwal {
        opacity: 1;
        transition: opacity 0.8s ease-in-out;
        transition-delay: .1s;
    }

    .link_2.sushantsejwal {
        opacity: 1;
        transition: opacity 0.8s ease-in-out;
        transition-delay: .18s;
    }

    .link_3.sushantsejwal {
        opacity: 1;
        transition: opacity 0.8s ease-in-out;
        transition-delay: .24s;
    }

    .link_4.sushantsejwal {
        opacity: 1;
        transition: opacity 0.8s ease-in-out;
        transition-delay: .28s;
    }

}

@media only screen and (max-height:330px) {
    .all-other-items{
    min-height: -webkit-fill-available;
    }
}

/* ======================= Scroll Bar ======================= */

/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: rgb(43, 41, 41);
    box-shadow: inset 0.1px 0.1px 10px rgb(92, 92, 92);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(214, 214, 214);;
    box-shadow: inset 0.1px 0.1px 10px rgb(92, 92, 92);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(174, 174, 174);
    box-shadow: inset 0.1px 0.1px 10px rgb(92, 92, 92);
}

/* =============================== Footer =============================== */

.footer {
    background-color: rgb(29, 28, 28);
    color: #fff;
    text-align: center;
    margin-top: auto;
    font-family: "SFPro-Regular";
}

footer p{
    color: #fff;
    font-family: "SFPro-Regular";
}

.footer-para {
    font-size: 15px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "SFPro-Regular";
}

.footer-para-text {
    margin: 0px 25px;
    font-family: "SFPro-Regular" ;
}

/* link to apple */

.link-tp-apple-svg {
    width: 15px;
    margin: 0px 25px;
}

.link-to-apple-svg-g {
    fill: #dadada;
}

.link-to-apple-svg-g.apple_sushantanshika {
    fill: #ffffff;
}

.footer-para-svg {
    border-left: 1px solid rgb(230, 230, 230);
}

@media only screen and (max-width:432px) {

    .link-tp-apple-svg {
        margin: 0px 20px;
    }

    .footer-para-text {
        margin: 0px 20px;
    }

}

@media only screen and (max-width:412px) {

    .link-tp-apple-svg {
        margin: 0px 15px;
    }

    .footer-para-text {
        margin: 0px 15px;
    }

}

@media only screen and (max-width:392px) {

    .link-tp-apple-svg {
        margin: 0px 10px;
    }

    .footer-para-text {
        margin: 0px 10px;
    }

}

@media only screen and (max-width:372px) {

    .link-tp-apple-svg {
        margin: 0px 5px;
        width: 14px;
    }

    .footer-para-text {
        margin: 0px 5px;
        font-size: 14px;
    }

}

/* ==== bullet svg ==== */

.bullet-svg {
    width: 33px;
    height: 30px;
    max-width: 33px;
    max-height: 30px;
    margin-top: 3px;
    cursor: pointer;
    margin: 7px 25px;
}

.bullet-audio-container{
    opacity: 0;
}

@media only screen and (min-width:769px) {

    .bullet-svg-g.sushant_bullet {
        fill: #ffffff;
    }

}

@media only screen and (max-width:768px) {

    .bullet-svg-g.sushant_bullet_phone {
        fill: #ffffff;
    }

    .bullet {
        position: absolute;
        right: 15px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        cursor: pointer;
    }

    .bullet-svg {
        margin: 3px 0px 0px 0px;
    }

}